@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

body{
    background-color: #95b8f6;
}

header{
    background-color: #f9a59a;
}

header,
nav,
main,
footer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav,
main,
footer{
    background-color:#f9d99a;
}

.chat{
    background: #f9a59a;
    border-radius: 20px;
    color: #252222f5;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    width: 200px;
    z-index: 10;
}

/*Inicia Header*/

.header-content{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    justify-content:space-between;
}

.logo{
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    padding-left: 50px;
    width: 50%;
}

.div-logos{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 50px;
    width: 25%;
}

.redes{
    background-color: #ccc;
    border-radius: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 42px;
}

#Icono1{
    background: blue;
}

#Icono2{
    background: green;
}

#Icono3{
    background: red;
}

/*Fin Header*/

/*start navegation*/
.nav-ul{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navegation_item{
    color: #252222f5;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2rem;
    padding: 20px 40px;
    text-align: center;
    width: 190px;
}

.navegation_item:hover{
    background: #f9a59a;
}

/*Fin Barra de Navegación*/

/*Inicio Main Content*/

.top{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 25px 10px;
    width: 80%;
}

.top-ul{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.list-item{
    text-align: center;
}

.item-img{
    border-radius: 100%;
    height: 100px;
    transition: all .5s;
}

.item-img:hover{
    transform: scale(1.2);
}

.item-title{
    font-family: 'Kaushan Script', cursive;
}

.item-text{
    font-size: 1rem;
    margin: 10px;
}

.content{
    display: flex;
    justify-content:space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
}

.aside-izq{
    padding: 15px;
    width: 30%; 
}

.list-aside-izq{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.aside-izq-item{
    background: #aaa;
    list-style: square;
    list-style-position: inside;
    margin: 5px 0px;
    padding: 10px;
}

.link-aside-izq{
    text-decoration: none;
}

.title-center-content{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;   
    margin-bottom: 20px;
    padding-left: 50px;
}

.div-center-content{
    display: flex;
    justify-content: space-around;
}

.img-center-content{
    margin-right: 20px;
}

.text-center-content{
    font-size: .9rem;
}

.text-content{
    letter-spacing: .5px;
    line-height: 1.2em;
    margin-bottom: 15px;
    text-indent: 15px;
}

.aside-der-title{
    background: rgba(100,0,255,1);
    color: #fff;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    text-align: center;
    width: 200px;
}

.inputs{
    padding: 10px;
    margin: 5px 0;
    width: 200px;
}

.inputs[type="text"]{
    background-image: url(/Images/user-solid.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.inputs[type="password"]{
    background-image: url(/Images/key-solid.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.inputs[type="email"]{
    background-image: url(/Images/envelope-solid.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.inputs[type="submit"],
.inputs[type="reset"]{
    background: rgba(100,0,100,5);
    border: none;
    color:#fff;
    cursor: pointer;
    font-size: 1rem;
    transition: all .5s;
}

.inputs[type="submit"]:hover,
.inputs[type="reset"]:hover
{
    background: rgba(100,0,100,.8);
}

.inputs[type="submit"]:active,
.inputs[type="reset"]:active{
    transform: scale(.9);
}

/*end Main Content*/
.footer{
    color: #252222f5;
    padding-top: 25px;
    text-align: center;
    width: 80%;
}